<div>

    <div class="blueButton" type="button" id="apiModalButton" style="margin-top:10px;">
        IG2NLP Automation Interface</div><br>
    <div id="automationMessage"></div>

    <script>
        function requestSend(){
            // Remove old error message
            let requestError = document.getElementById("requestError");
            let commentField = document.getElementById("automationMessage");
            requestError.innerHTML = "";
            reqData = Object.create(null);
            // Get contents of on-site elements
            // stmtId is only available in the tabular version, default to empty if not assigned
            try {
                reqData["stmtId"] = document.getElementById("stmtId").value
            }
            catch {
                reqData["stmtId"] = ""
            }
            reqData["origStmt"] = document.getElementById("rawStmt").value

            // Set the matching parameters
            reqData["matchingParams"] = {}
            reqData["matchingParams"]["coref"] = 
            document.getElementById("corefRes").checked
            reqData["matchingParams"]["semantic"] = 
            document.getElementById("semanticAnno").checked
            reqData["matchingParams"]["semanticNumber"] = 
            document.getElementById("semanticNumber").checked
            reqData["apiVersion"] = 0.1
            reqData=[reqData]

            // Send the post request
            fetch("http://127.0.0.1:5000/ig2nlp", {
                method: 'POST',
                body: JSON.stringify(reqData),
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json; charset=UTF-8'
                }
            }).then(response => 
                response.json().then(data => ({
                    jsonData: data,
                    status: response.status
                })).then(response => {

                // Handle request errors (non 200 status codes)
                if (response.status != 200) {
                    requestError.innerHTML = "Error: " + response.jsonData.error + "<br><br>";
                    return;
                }

                // Update the contents of ace.js and the backend textfield
                statementType = document.getElementById("statementType")
                console.log(statementType)
                console.log(response.jsonData)
                if (statementType.value == "regulative"){
                    // Populate the editor
                    editor.setValue(response.jsonData[0]["encodedStmtReg"]);
                    // Ensure that content in hidden text area is synchronized
                    copyEditorContentToTextArea();
                    saveFormContent();
                    if (response.jsonData[0]["commentReg"] != ""){
                        commentField.innerHTML = "Automation comment: " + 
                            response.jsonData[0]["commentReg"];
                    } else {
                        commentField.innerHTML = ""
                    }
                } else if (statementType.value == "constitutive") {
                    // Populate the editor
                    editor.setValue(response.jsonData[0]["encodedStmtConst"]);
                    // Ensure that content in hidden text area is synchronized
                    copyEditorContentToTextArea();
                    saveFormContent();
                    if (response.jsonData[0]["commentConst"] != ""){
                        commentField.innerHTML = "Automation comment: " + 
                            response.jsonData[0]["commentConst"];
                    } else {
                        commentField.innerHTML = ""
                    }
                } else {
                    // Populate the editor
                    editor.setValue(response.jsonData[0]["encodedStmtReg"]+"\n\n"+
                    response.jsonData[0]["encodedStmtConst"]);
                    // Ensure that content in hidden text area is synchronized
                    copyEditorContentToTextArea();
                    saveFormContent();
                    if (response.jsonData[0]["commentConst"] != "" || 
                        response.jsonData[0]["commentReg"] != "" ){
                        comment = ""
                        if (response.jsonData[0]["commentReg"] != "") {
                            comment += "<br>Regulative comment(s): " + 
                                response.jsonData[0]["commentReg"];
                        }
                        if (response.jsonData[0]["commentConst"] != "") {
                            comment += "<br>Constitutive comment(s): " + 
                                response.jsonData[0]["commentConst"];
                        }
                        commentField.innerHTML = comment
                    } else {
                        commentField.innerHTML = ""
                    }
                }
                closeModal("ig2nlpAutomation")
            }))
            // Handle any other errors
            .catch(function(error){
                console.log("Request error: ", error)
                requestError.innerHTML = 
                    "Error sending request. Please try again at a later time. <br><br>";
            })
        }

        // API modal
        document.getElementById("apiModalButton").addEventListener("click", function() {
            // Get local storage variables
            loadCheckbox("corefRes")
            loadCheckbox("semanticAnno")
            loadCheckbox("semanticNumber")

            statementType = localStorage.getItem("statementType")
            statementElem = document.getElementById("statementType")
            switch (statementType) {
                case "regulative":
                    document.getElementById(statementType).selected = "true";
                    break;
                case "constitutive":
                    document.getElementById(statementType).selected = "true";
                    break;
                case "both":
                    document.getElementById(statementType).selected = "true";
                    break;
                default:
                    localStorage.setItem("statementType","regulative")
                    statementElem.value="regulative";
                    break;
            }
            
            // Hide all previous errors
            let requestError = document.getElementById("requestError");
                requestError.innerHTML = ""

            // Show the modal
            document.getElementById("ig2nlpAutomation").showModal();
        });

        
    </script>

    <!-- Modal for handling ig2nlp automation, opens from a button on the page -->
    <dialog id="ig2nlpAutomation">
        <div style="display:inline-block">
        <h2 style="margin:auto">IG2NLP Automation</h2>
     
        NLP based automatic annotation. <br>
        Encodes the statement as both Regulative and Constitutive. <br>
        You will be prompted to decide whether to use one of the annotations.<br><br>

        * The automatic annotations may be inaccurate.<br><br>
        
        <!--
        <span id="apiVersionLabel">API Version:</span>
        <select name="apiVersion" id="apiVersion" aria-labelledby="apiVersionLabel">
            <option value="0.1">Version 0.1</option>
            <option value="1">Version 1</option>
        </select>
        -->

        <span id="statementTypeLabel">Statement type:</span>
        <select name="statementType" id="statementType" aria-labelledby="statementTypeLabel"
            onchange="saveValue('statementType')">
            <option value="regulative" id="regulative">Regulative</option>
            <option value="constitutive" id="constitutive">Constitutive</option>
            <option value="both" id="both">Both</option>
        </select>

        <input id="corefRes" name="corefRes" type="checkbox" 
        onchange="saveCheckbox('corefRes')"/>
        <label for="corefRes">Coreference resolution</label>

        <input id="semanticAnno" name="semanticAnno" type="checkbox" 
        onchange="saveCheckbox('semanticAnno')"/>
        <label for="semanticAnno">Semantic annotations</label>
        
        <input id="semanticNumber" name="semanticNumber" type="checkbox" 
        onchange="saveCheckbox('semanticNumber')"/>
        <label for="semanticNumber">Semantic plural/singular entity annotations</label>
        <br>

        <div class="error" id="requestError"></div>

        <div class="button" role="button" aria-pressed="false" tabindex="0" id="" 
        style="margin:auto" onclick="requestSend()">Send Request</div>
     
        <div class="button" role="button" aria-pressed="false" tabindex="0" id="apiModalClose" 
        style="float:right" autofocus onclick="closeModal('ig2nlpAutomation')">Close</div>
        </div>
    </dialog>
    
    <!--
    <dialog>
        <h1 style="margin:auto">IG2NLP Automation response</h1>
        
        <h2>Regulative</h2>

        <h2>Constitutive</h2>

        <h2>Output</h2>

        <div>Overwrite with text field</div>
        <div>Overwrite with regulative output</div>
        <div>Overwrite with constitutive output</div>
    </dialog>
    -->

</div>